spring:
  profiles:
    active: local
  application:
    name: ags-worker
  threads:
    virtual:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    metrics:
      enabled: true

app:
  timezone: UTC+7
